
<!-- <app-register (eventmessage)="loginmessage($event)"></app-register> -->
<div class="container">
    <div class="row">
        <div class=" mt-5 col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>LoginForm</h3>
                </div>
                <div class="card-body">
                    <form class="form" #login="ngForm">
                        <div class="mt-3 form-group">
                            <label>E-Mail</label>
                            <input type="text" class="form-control" 
                            [(ngModel)]="userObject.email" name="email"
                                #email="ngModel" [pattern]="commonService.pattern.email" required email>
                            <span class="text-danger" *ngIf="(email.touched || 
                                    login.submitted) && email.errors?.required">
                                E-Mail is required
                            </span>
                            <span class="text-danger" *ngIf="email.touched && email.errors?.pattern">
                                Enter a valid email address
                            </span>
                        </div>
                        <div class="mt-3 form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" [(ngModel)]="userObject.password"
                                name="password" #password="ngModel" [pattern]="commonService.pattern.password" required>
                            <span class="text-danger" *ngIf="(password.touched || 
                                login.submitted) && password.errors?.required">
                                Password is required
                            </span>
                            <span class="text-danger" *ngIf="password.touched
                                 && password.errors?.pattern">
                                Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                                letter and 1 number
                            </span>
                        </div>
                        <div class=" mt-3 form-group">
                            <button type="submit" class="btn btn-success" 
                            (click)="onSubmit()">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>