<div class="container">
    <div class="row">
        <div class="mt-5 col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4>kyc update</h4>
                </div>
                <div class="card-body">
                    <form class="form" #kycForm="ngForm">
                        <div class="mt-2 form-group">
                            <label>E-Mail</label>
                            <input type="text" class="form-control" [(ngModel)]="userProfile.email" name="email"
                                #email="ngModel" [pattern]="commonService.pattern.email" required email>
                            <span class="text-danger"
                                *ngIf="(email.touched || kycForm.submitted) && email.errors?.required">
                                E-Mail is required
                            </span>
                            <span class="text-danger" *ngIf="email.touched && email.errors?.pattern">
                                Enter a valid email address
                            </span>
                        </div>
                        <div class=" mt-2 form-group">

                            <input type="file" name="images" multiple (change)="selectMultipleImage($event)" />
                        </div>
                        <div class=" mt-2 form-group">

                            <button type="submit" (click)="onMultipleSubmit()">
                                Kyc update</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>